"""Command-line interface for the {{ project_name }} package."""

from typing import Annotated

import typer

from {{ package_name }} import __version__

app = typer.Typer()


def version_callback(value: bool) -> None:
    """Print the package version and exit."""
    if value:
        typer.echo(f"{{ project_name }} Version: {__version__}")
        raise typer.Exit()


@app.command()
def main(
    name: Annotated[str, typer.Option(help="The name to greet.")] = "World",
    version: Annotated[
        bool,
        typer.Option(
            "--version",
            callback=version_callback,
            is_flag=True,
            is_eager=True,
            help="Show the application's version and exit.",
        ),
    ] = False,
) -> None:
    """A simple CLI that greets the user."""
    typer.echo(f"Hello {name}")


if __name__ == "__main__":
    app()
